@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: $TextBlueColor;
    resize: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}
h2{
    width: 200px;
    font-weight: 300;
    position: relative;
    background: $about_meBG;
    margin: 0 auto;
    padding: 0;
    z-index: 3;
    text-align: center;
}

.line{
    width: 300px;
    height: 2px;
    background: $TextBlueColor;
    margin: 0 auto;
    margin-top: -15px;
}


.owl-nav{
    display: none !important;
}

.owl-dots{
    margin-top: 20px;
}



header{
    height: 85vh;
    width: 100%;
    background-color: $cyan;
    position: relative;
    nav{
        width: 100%;
        height: 70px;
        background-color: #fff;
        @include flexCenter('row');
        .logo{
            height: 70px;
            width: 140px;
            @include BGimage('logo.png')
        }
        .ul-desktop{
            display: none;
        }
        
    }
    .ul-mobile{
        width: 100%;
        height: 30px;
        background: rgb(240, 240, 240);
        @include flexCenter('row');
        justify-content: space-around;
        li{
            font-size: 11px;
        }
    }
    .central-logo{
        height: 350px;
        width: 100%;
        max-width: 650px;
        margin-top: 10px;
        margin: 0 auto;
        @include flexCenter(column);
        padding: 0 50px;
        img{
            width: 100%;
            max-width: 350px;
            height: 150px;
        }
        p{
            text-align: center;
            font-size: 13px;
        }
    }
    .juh-container{
        height: 240px;
        width: 200px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        @include translateX;
        @include BGimage('juh.png')
    }
}


section#about_me{
    height: 90vh;
    width: 100%;
    text-align: center;
    padding-top: 26px;
    position: relative;
    background: $about_meBG;
    

    .juh_pic{
        height: 300px;
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;
        border: 2px solid #0000006b;
        @include BGimage('juh_pic.png');
        box-shadow: 5px 5px 16px -4px #000000;
        margin-bottom: 50px;        
    }

    .about_text{
        max-width: 380px;
        width: 80%;
        margin: 0 auto;
        p{
            margin-top: 10px;
            font-size: 14px;
        }
    }
}


section#aaron{
    width: 100%;
    height: 180px;
    @include BGimage('depoimentosBG.png');
    background-size: 100% 15%;
    background-color: $aaronBG;
    background-position-y:center;
    background-position-x:left;
    background-attachment: fixed;
    .container{
        width: 80%;
        max-width: 1300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        .butterfly_container{
            display: none;
            height: 100%;
            width: 180px;
            position: relative;
            .butterfly{
                height: 50%;
                width: 50%;
                @include BGimage('butterfy.png')
            }

            .butterfly_1{
                position: absolute;
                top: 0;
            }
            .butterfly_2{
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }


        .aaron_quote{

            height: 100%;
            width: 100%;
            max-width: 460px;
            text-align: center;
            position: absolute;
            @include translateX;
            margin-top: 50px;
            font-size: 14px;

            p:last-of-type{
                font-weight: bold;
                text-decoration: underline;
                margin: 8px;
            }
        }
    }
}


section#depoimentos{
    width: 100%;
    height: 80vh;
    background-color: $depoimentosBG;
    .depoimentos_h2{
        text-align: center;
        position: relative;
        top: 25px;
        h2{
            background-color: $depoimentosBG;
        }
        
    }
 
    .container{
        height: 100%;
        position: relative;
        .butterfly{
            height: 200px;
            width: 320px;
            position: fixed;
            @include BGimage('butterfy.png');
            position: absolute;
            @include translateY;
        }

        .depoimentos_wrapper{
            height: 300px;
            width: 90%;
            margin: 0 auto;
            position: relative;
            @include translateY;

            .depoimento_single{
                height: 100%;
                width: 275px;
                margin: 0 auto;
                padding-top: 60px;
                text-align: center;

                p:last-of-type{
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

::placeholder{
    color: $TextBlueColor;
}

input[type=text], textarea{
    padding-left: 15px;
}

input:focus, textarea:focus{
    border-left: 3px solid $TextBlueColor;
}

textarea, textarea::placeholder{
    color: $TextBlueColor;
    padding-top: 10px;
    
}

section#contato{
    background-color: $contactBG;
    height: 1100px;
    .text_h2{
        position: relative;
        top: 30px;
        h2{
            width: 140px;
            background-color: $contactBG;
        }
        .line{
            width: 240px;
        }
    }

    .contact_ways{
        width: 90%;
        max-width: 600px;
        min-width: 300px;
        height: 500px;
        margin: 0 auto;
        margin-top: 80px;
        @include flexCenter(column);
        justify-content: space-around;

        .container{
            width: 95%;
            height: 30%;
            .img{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: #fff;
                margin: 0 auto;
                @include flexCenter(row);
                img{
                    width: 90%;
                    height: 90%;
                }
            }

            .text{
                width: 250px;
                text-align: center;
                margin: 0 auto;
                margin-top: 5px;
            }
        }
    }

    .form_container{
        min-width: 320px;
        max-width: 450px;
        width: 90%;
        height: 400px;
        background-color: rgb(194, 194, 194);
        margin: 0 auto;
        padding: 20px;
        padding-bottom: 50px;
        margin-top: 50px;
        .w90, .w45{ 
            width: 90%;
            height: 35px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .w90{
            input{
                width: 100%;
                height: 100%
            };
            textarea{
                height: 100px;
                width: 100%;
            }
        }
        .w45{
            display: flex;
            justify-content: space-between;
            input{
                width: 45%;
                height: 100%;
            }
        }
        .w90:last-of-type{
            margin-top: 95px;
            
            input{
                background-color: $cyan;
                border: 1px solid $TextBlueColor;
                margin-bottom: 0;
            }
        }

    }
}

.instagram_img img{
    width: 40px !important;
    height: 40px !important;
}

footer{
    width: 100%;
    height: 120px;
    background-color: $cyan;


    .footer_logo{
        height: 100px;
        width: 150px;
        margin: 0 auto;
        position: relative;
        img{
            height: 100%;
            width: 100%;
        }
        
    }

    .crp{
        margin: 0 auto;
        height: 20px;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}

section#sub_footer{
    background-color: $TextBlueColor;
    text-align: center;
    font-size: 12px;
    span{
        color: #fff;
        a{
            color: white;
        }
    }
    
    
}
