@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #4C6E83;
  resize: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

h2 {
  width: 200px;
  font-weight: 300;
  position: relative;
  background: #F8F8F8;
  margin: 0 auto;
  padding: 0;
  z-index: 3;
  text-align: center;
}

.line {
  width: 300px;
  height: 2px;
  background: #4C6E83;
  margin: 0 auto;
  margin-top: -15px;
}

.owl-nav {
  display: none !important;
}

.owl-dots {
  margin-top: 20px;
}

header {
  height: 85vh;
  width: 100%;
  background-color: #D5ECEF;
  position: relative;
}

header nav {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .logo {
  height: 70px;
  width: 140px;
  background-image: url("images/logo.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header nav .ul-desktop {
  display: none;
}

header .ul-mobile {
  width: 100%;
  height: 30px;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .ul-mobile li {
  font-size: 11px;
}

header .central-logo {
  height: 350px;
  width: 100%;
  max-width: 650px;
  margin-top: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

header .central-logo img {
  width: 100%;
  max-width: 350px;
  height: 150px;
}

header .central-logo p {
  text-align: center;
  font-size: 13px;
}

header .juh-container {
  height: 240px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("images/juh.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#about_me {
  height: 90vh;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  position: relative;
  background: #F8F8F8;
}

section#about_me .juh_pic {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  border: 2px solid #0000006b;
  background-image: url("images/juh_pic.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 5px 16px -4px #000000;
          box-shadow: 5px 5px 16px -4px #000000;
  margin-bottom: 50px;
}

section#about_me .about_text {
  max-width: 380px;
  width: 80%;
  margin: 0 auto;
}

section#about_me .about_text p {
  margin-top: 10px;
  font-size: 14px;
}

section#aaron {
  width: 100%;
  height: 180px;
  background-image: url("images/depoimentosBG.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 15%;
  background-color: #F1F1F1;
  background-position-y: center;
  background-position-x: left;
  background-attachment: fixed;
}

section#aaron .container {
  width: 80%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section#aaron .container .butterfly_container {
  display: none;
  height: 100%;
  width: 180px;
  position: relative;
}

section#aaron .container .butterfly_container .butterfly {
  height: 50%;
  width: 50%;
  background-image: url("images/butterfy.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#aaron .container .butterfly_container .butterfly_1 {
  position: absolute;
  top: 0;
}

section#aaron .container .butterfly_container .butterfly_2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

section#aaron .container .aaron_quote {
  height: 100%;
  width: 100%;
  max-width: 460px;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 50px;
  font-size: 14px;
}

section#aaron .container .aaron_quote p:last-of-type {
  font-weight: bold;
  text-decoration: underline;
  margin: 8px;
}

section#depoimentos {
  width: 100%;
  height: 80vh;
  background-color: #E9E9E9;
}

section#depoimentos .depoimentos_h2 {
  text-align: center;
  position: relative;
  top: 25px;
}

section#depoimentos .depoimentos_h2 h2 {
  background-color: #E9E9E9;
}

section#depoimentos .container {
  height: 100%;
  position: relative;
}

section#depoimentos .container .butterfly {
  height: 200px;
  width: 320px;
  position: fixed;
  background-image: url("images/butterfy.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section#depoimentos .container .depoimentos_wrapper {
  height: 300px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section#depoimentos .container .depoimentos_wrapper .depoimento_single {
  height: 100%;
  width: 275px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

section#depoimentos .container .depoimentos_wrapper .depoimento_single p:last-of-type {
  margin-top: 20px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #4C6E83;
}

:-ms-input-placeholder {
  color: #4C6E83;
}

::-ms-input-placeholder {
  color: #4C6E83;
}

::placeholder {
  color: #4C6E83;
}

input[type=text], textarea {
  padding-left: 15px;
}

input:focus, textarea:focus {
  border-left: 3px solid #4C6E83;
}

textarea, textarea::-webkit-input-placeholder {
  color: #4C6E83;
  padding-top: 10px;
}

textarea, textarea:-ms-input-placeholder {
  color: #4C6E83;
  padding-top: 10px;
}

textarea, textarea::-ms-input-placeholder {
  color: #4C6E83;
  padding-top: 10px;
}

textarea, textarea::placeholder {
  color: #4C6E83;
  padding-top: 10px;
}

section#contato {
  background-color: #D6D6D6;
  height: 1100px;
}

section#contato .text_h2 {
  position: relative;
  top: 30px;
}

section#contato .text_h2 h2 {
  width: 140px;
  background-color: #D6D6D6;
}

section#contato .text_h2 .line {
  width: 240px;
}

section#contato .contact_ways {
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  height: 500px;
  margin: 0 auto;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#contato .contact_ways .container {
  width: 95%;
  height: 30%;
}

section#contato .contact_ways .container .img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#contato .contact_ways .container .img img {
  width: 90%;
  height: 90%;
}

section#contato .contact_ways .container .text {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}

section#contato .form_container {
  min-width: 320px;
  max-width: 450px;
  width: 90%;
  height: 400px;
  background-color: #c2c2c2;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
}

section#contato .form_container .w90, section#contato .form_container .w45 {
  width: 90%;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 30px;
}

section#contato .form_container .w90 input {
  width: 100%;
  height: 100%;
}

section#contato .form_container .w90 textarea {
  height: 100px;
  width: 100%;
}

section#contato .form_container .w45 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#contato .form_container .w45 input {
  width: 45%;
  height: 100%;
}

section#contato .form_container .w90:last-of-type {
  margin-top: 95px;
}

section#contato .form_container .w90:last-of-type input {
  background-color: #D5ECEF;
  border: 1px solid #4C6E83;
  margin-bottom: 0;
}

.instagram_img img {
  width: 40px !important;
  height: 40px !important;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #D5ECEF;
}

footer .footer_logo {
  height: 100px;
  width: 150px;
  margin: 0 auto;
  position: relative;
}

footer .footer_logo img {
  height: 100%;
  width: 100%;
}

footer .crp {
  margin: 0 auto;
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

section#sub_footer {
  background-color: #4C6E83;
  text-align: center;
  font-size: 12px;
}

section#sub_footer span {
  color: #fff;
}

section#sub_footer span a {
  color: white;
}
/*# sourceMappingURL=style.css.map */